/* 想要改顏色設定，但不會用ww
:root {
    --bs-gray: #d1d9e1;
    --bs-secondary: #d1d9e1;
    --bs-secondary-rgb: rgb(209, 217, 225);
}
    */

body {
    overflow-x: hidden;
}

.h1 .h2 .h3 .h4 .h5 .h6,h1,h2,h3,h4,h5,h6 {
    margin-block-end: 0px;
    margin-bottom: 0px;
}

span {
    color: rgba(102, 127, 153, 1);}

nav {
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav-item {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.nav-link {
    color: rgba(20, 26, 31, 1);
}

.nav-link:hover {
    color: rgba(74, 105, 232, 1);
}

.line {
    background-color: #d1d9e1;
    height: 1px;
}

.line-200 {
    background-color: #e5eaee;
    height: 1px;
}

.btn {
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.btn-outline-white {
    border: 1px solid #d1d9e1;
    color: rgb(20, 26, 31);
}

.banner span {
    color: rgba(102, 127, 153, 1);
    font-size: 14px;
    align-self: center;
}

.banner {
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 28px;
}

.banner h1 {
    font-size: 80px;
}

.banner-cta {
    width: 815px;
    gap: 28px;
}

.banner-cta .h4{
    margin: 0px;
}

.banner-cta button {
    background-color: #36c99f;
    color: #141a1f;
    border: none;
}

.image-cap {
    width: 100%;
    height: 400px;
    gap: 12px;
}

.image-cap .img {
    background-color: rgb(185, 185, 185);
}

.story {
    gap: 24px;
}

.story span {
    font-size: 16px;
    text-align: left;
}

.story-content {
    margin-left: 312px;
    width: 302px;
}

.card {
    border-radius: 25px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    margin: 12px;
}

.card-img-top {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.card-text {
    font-size: 14px;
    color: #667f99;
}

.card span {
    font-size: 12px;
    color: rgba(20, 26, 31, 1);
}