/* 想要改顏色設定，但不會用ww
:root {
    --bs-gray: #d1d9e1;
    --bs-secondary: #d1d9e1;
    --bs-secondary-rgb: rgb(209, 217, 225);
}
    */

nav {
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav-item {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.nav-link {
    color: rgba(20, 26, 31, 1);
}

.nav-link:hover {
    color: rgba(74, 105, 232, 1);
}

.line {
    background-color: #d1d9e1;
    height: 1px;
}

.line-200 {
    background-color: #e5eaee;
    height: 1px;
}

.btn {
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.btn-outline-secondary {
    border: 1px solid #d1d9e1;
    color: rgba(20, 26, 31, 1);
}

span {
    color: rgba(102, 127, 153, 1);
    display: block;
    font-size: 14px;
    align-self: center;
}